

   
    
      <div class="card  "  [ngStyle]="{'width':canvasWidth,'height':canvasHeight}">
          <div class="card-header bg-primary" style="overflow:unset;padding:0px; ">Captcha</div>
      
          <div class="card-body border-primary text-primary" style="padding:0px">
              <canvas #canvas [ngStyle]="{'width':canvasWidth,'height':canvasHeight-25}" > </canvas>

          </div>
          <div class="card-footer" style="padding:0px">
            
            <div class="row">
              <div class="col-sm-2 col-xs-1">
                  <i class="fa fa-refresh" aria-hidden="true" (click)='regerate()'></i>
              </div>
              <div class="col-sm-6 col-xs-5">
                  <input type='text' class="input-group-sm " [(ngModel)]='textEntered'>
              </div>
              
              <div class="col-sm-4 col-xs-5" style='text-align:right'>
                  <button type="button" class="btn btn-primary" (click)='verify()'>submit</button>
                 
              </div>
            
          </div>
          </div>
        